<% layout('layouts/boilerplate') -%>

<div class="row">
  <h1 class="text-center">New Stadium</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/stadiums/<%=stadium._id%>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="stadium[title]"
          value="<%= stadium.title %>"
          required
        />
        <div class="invalid-feedback">Title cannot be blank.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="stadium[location]"
          value="<%= stadium.location %>"
          required
        />
        <div class="invalid-feedback">Location must be specified.</div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Add more image(s)...</label>
        <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>
        <div class="invalid-feedback">
          add more images...
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="capacity">Capacity</label>
        <input
          class="form-control"
          type="text"
          id="capacity"
          name="stadium[capacity]"
          value="<%=stadium.capacity%>"
          required
        />
        <div class="invalid-feedback">Capacity cannot be blank.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="stadium[description]"
          required
        ><%=stadium.description%></textarea>
        <div class="invalid-feedback">Description cannot be blank.</div>
      </div>
      <div class="mb-3">
        <% stadium.images.forEach(function(img, i){ %>
          <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%=img.filename%>">
          </div>
          <label for="image-<%=i%>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Stadium</button>
      </div>
    </form>
    <div>
      <a href="/stadiums/<%=stadium._id%>">back to Stadium</a>
    </div>
  </div>
</div>
