<% layout('layouts/boilerplate') -%>

<% for (let stadium of stadiums) {%>
<div class="card mb-4 shadow">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-sm-12">
      <img class="img-fluid" src="<%= stadium.images[0].url %>" alt=""/>
    </div>
    <div class="col-xl-8 col-lg-6 col-sm-12">
      <div class="card-body">
        <h5 class="card-title"><a href="/stadiums/<%=stadium.id%>"><%= stadium.title %></a></a></h5>
        <p class="card-text">
          <%= stadium.description %>
        </p>
        <p class="card-text">
          <small class="text-muted">
            <%= stadium.location %>
          </small>
        </p>
        <!-- <a href="/stadiums/<%= stadium.id %>" class="btn btn-primary"><%= stadium.title %></a> -->
      </div>
    </div>
  </div>
</div>
<!-- <li><a href="/stadiums/<%= stadium.id %>"><%= stadium.title %></a></li> -->
<% } %>
